:host {
    height: 50px;
    width: 375px;
    background-color: gold;
    //Flex//
    display: flex;
}

#blockhome_nameofappli {
    height: 100%;
    width: 100%;
    //Flex//
    display: flex;
    justify-content: center;
    align-items: center;
    //Police//
    color: white;
    font-size: 30px;
    font-weight: bold;
}