<app-header>

</app-header>
<main>
    <div id="block_image">
        <img src="biblioh/src/assets/latest.png"> </div>
    <div id="block_homeyellowcell">
        <app-homeyellowcell></app-homeyellowcell>
        <app-homeyellowcell></app-homeyellowcell>
        <app-homeyellowcell></app-homeyellowcell>
        <app-homeyellowcell></app-homeyellowcell>
    </div>
</main>
<app-footer></app-footer>