main {
    height: 577px;
    width: 100%;
    background-color: grey;
    //Flex//
    display: flex;
    flex-direction: column;
}

#block_image {
    height: 275px;
    width: 100%;
    background-color: pink;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 150px;
    width: 150px;
}

#block_homeyellowcell {
    height: 275px;
    width: 100%;
    background-color: cyan;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}